*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.header{
    margin-top: -2cm;
    z-index: 1;
    position :fixed;
    display: flex; 
/* height: 25vh; */
    width: 100%;
    background-color: #beb6b6;
    justify-content: space-between;
   /* margin-left: 30px;  */
} 
#logoimage{
    width: 10px;
    height: 20px;
}
.navbar{
    line-height: 80px;
/* margin-top: -2cm; */
    justify-content: space-between;
}
.navbar ul{ 
    
    /* background-color: #0e0d0d; */
    font-weight: bold;
    color: rgb(245, 231, 231);
    list-style: none;
    /* float: right; */
    gap: 20px;
    font-size: 20px;
    display: flex;
   /* padding-top: 0.5cm; */
    margin-right: 40px;
}
.navbar ul li a{
    color: aliceblue; 
    text-decoration: none;
    
}
.navbar ul li a:hover{
    color:black;
    background-color: rgb(154, 17, 17);
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    /* text-decoration: none; */

}.homepage{
   background-image: url(../image/bu4.jpeg);

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
.content-part1{ 
    
   position: absolute;
   top: 30%;
   left: 28%;
   transform: translate( -50%, -50%5);
   color:rgb(230, 218, 218);
   text-align: center;
    
}
.content-part1 span{
    color: rgb(222, 23, 79);
}.content-part1 h1{ 
font-style: italic;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    margin-top: -2cm;
    /* padding-bottom: 80%; */
}.content-part1 p{
    /* line-height: 1px; */
    padding-top: 0.5cm;
    margin-left: 2cm;
    font-size: 25px; 
    /* line-height: 0.4cm; */
}
button{
    border: none;}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: black;
}
.heading span{
    color: brown;
}
/* /* ....login-page... , */
.full-page{
    background-image: url(../image/brf2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container{
    display: flex;
    /* padding-top: 5cm; */
    /* background-color: #333; */
    height: 85vh;
    /* padding: auto; */
    justify-content: center;
    text-align: center;  
}

 #log-detail{
    background-color: rgb(214, 201, 201);
    height: 65vh;
    padding: 10px;

}
button{
    font-size: 15px;
    /* font-style: italic; */
    background-color: rgb(157, 44, 44);
    border-radius: 20px;
    margin: 0.5cm;
    height: 50px;
    width: 150px;
} button a{
    text-decoration: none;
    color: antiquewhite;
    cursor: pointer;
}
button a:hover{
    color:white;
    font-size: 18px;
    font-weight: 600;
    /* background-color: rgb(154, 17, 17); */
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
#log-detail h4{
    color: rgb(27, 19, 19);
    font-style: italic;
    margin-left: 3cm;
    font-size: x-large;

}.login-page h2{
    font-style: oblique;
    color:rgb(11, 12, 14);
    font-size: 50px;
    margin-left: 13cm;
    margin-top: 0.8cm;

} 
.login-form{
    opacity: 0.5;
}
.product-page{
    padding-top: 60px;
}
#about-page{
    padding-top:20PX
     /* background-color: rgb(18, 14, 9); */
}
 .parag{
    color:white;
    font-size: 20px;
    background-color: #fa8b8ba8;
    text-align: center;
    padding-top: 40px;
    line-height: 20px;
}
.parag h2{
    padding-bottom: 20px;
color: rgb(24, 23, 23);
font-size: 25px;
font-weight: 700;
}
.parag p{

}
/* product1..... */

.allproduct{
    /* background-color:#1d1010 ; */
    
}
.allproduct h2{ 
    color: whitesmoke;
    margin-left: 100vh;
    padding-top: 3vh;
}
.product-all{
    padding-top: 40px;
    /* width: 100%; */
    display: flex;
   /* flex-wrap: wrap;    */
    /* gap: 20px; */
}
.product-all img{
    border-radius: 50%;
    object-fit: cover;
    padding: 0.2cm;
    height: 60vh;
    width:90vh
}
.product1 p{
    /* font-size: large; */
    padding-left: -50cm;
   color: #342c2c; 
}
.product1{
    width: 100%;
    border-radius: 20px;
    background-color:whitesmoke;
    /* display: flex; */
    text-align: center;
}
.product1 .mg img{
    width: 40vh;
    height: 40vh;
}
.product1 h2{
    /* color:rgb(238, 220, 15); */
    margin: 0.6cm;
    font-family: bold;
}
.product1 h2{ color: rgb(21, 3, 3);
    text-align: center;
    font-weight: bold;
}

.he2 h2{
    font-size: 30PX;
}
#about{
    display: flex;
}


/* contact page.... */
#contactpage{
    background-image: url(../image/BR.webp);
    height: 100vh;
background-repeat: no-repeat;
background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
padding-top: 12vh;
}
.contact-page{
    padding-top: 50px;
    opacity: 0.7;
}
.cont{ 
    /* margin-top: 0.4cm; */
    /* padding-top: 5cm; */
    background-color: #b4a6a6;
    height: 66vh;
    padding-left: 1.2cm;
    margin-bottom: 120vh;
    width: 80vh;
}
.cont span{
    padding-bottom: 180vh;
    font-size: 40px ;
    color: black;
}
.cont label{
    font-size: 30px;
    color: rgb(169, 9, 9);
}
.img1{
    margin-top: 3cm;
    gap: 0;
    background-color: #484141;
    width: 85vh;
}

.img2{
    margin-top: 3cm;
    gap: 0;
    background-color: #484141;
width: 85vh;}
    
.img3{
    margin-top: 3cm;
    gap: 0;
    background-color: #484141;
width: 85vh;}
.img1 h2{
    text-align: center;
    justify-content: center;
    margin-left: 4cm;
}.img2 h2{
    text-align: center;
    justify-content: center;
    margin-left: 4cm;
}
.img3 h2{
    text-align: center;
    justify-content: center;
    margin-left: 4cm;
}
.product-content{
    display: flex;

    flex-wrap: wrap;
}
#formlogin-{
    opacity: 0.7;
    font-size: 20px;
    /* background-color: #524b4b; */
}


.container1{ 

    justify-content: center;
    text-align: center;
    padding-top:1cm;
}
.form1{
    /* background-image: url(/image/br2.jpeg); */
    margin-left: 7cm;
    margin-top: 1cm;
}
.form1{
    display: flex;

}
form {
    font-size: 20px;
    background-color: rgb(196, 183, 190);
    height: 70vh;

}.regi img{
    height: 70vh;
    width: 60vh;
}
a{
    color: rgb(10, 6, 6);
    text-decoration: none;
    font-style: italic;
    margin-top:10cm;
}a:hover{
    color: aliceblue;
    background-color:rgb(154, 17, 17) ;
}
#vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}@media (min-aspect-ratio:16/9){
    #vid{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    #vid{
        width:auto;
        height: 100%;}
    }
#about-page{
    background-image: url(../image/food1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 12vh;
}
.about{

    padding-top: 1cm;
    font-size: 20px;
    display: grid;
    justify-content: center;
    background-color: rgb(213, 125, 17);
    height: 85vh;
}
.about-image img{
    width: 70vh;
    height: 50vh;
}
.p1{
    margin-left: 40px;
    font-size: 18px;
    /* opacity: 0.8; */
    background-color: rgb(249, 246, 242);
    height: 50vh;
    width: 60vh;
    padding-left: 1cm;
}
.p2{
    font-size: 15px;
    /* opacity: 0.8; */ 
    background-color: rgb(249, 246, 242);
    height: 50vh;
    width: 60vh;
    padding-left: 1cm;
}
.p1 h2{
    color: #484141;
    margin-bottom: 20px;

}
.p2 h2{
    color: #484141;
    margin-bottom: 30px;

}
#header h1{
    padding-top: 1cm;
    color:whitesmoke;
    padding-left: 12cm;
    font-size: 50px;
}

.home-conte{
    padding-top: 2cm;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}
.par h2{
    color: #524b4b; 
    font-size: 25px;
}
.par h1{
    color: #484141;
    margin-left: 5cm;
}
.par p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.ser-page{
background-color: antiquewhite;
    margin: 2cm;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    /* width: 20%; */
}.br{
    /* background-color: antiquewhite; */
    border-radius: 40px;
}
.form-order{
    padding-top: 2cm;
    /* background-color: #636060; */
    justify-content: center;
    padding-left:10cm;
    background-image: url(../image/home.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
height: 85vh;
}.form-order input{
    height: 25px;
    width: 55vh;
    margin-left: 20px;

}
.home-image img{
    width: 70vh;
    height: 70vh;
}
.he2{
    margin-left: 10cm;
     padding-top: 1cm; 
     font-size: 36px;
}
.mg img{
    height: 20vh; 
    width:20vh;
}
.cont input{
    width: 390px;
     height: 1cm; 
     font-size: 18px ;
     background-color: rgb(255, 250, 250) ;
}
.servicepage{
    padding-top: 2cm;
    /* background-image: url(/image/wine.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: fixed;
}
.contact-page img{
    width: 70vh;
    height: 66vh;
}
@media screen and (max-width:800px)
{
    .navbar ul{
        display: none;
        line-height: 20px;
        font-size: 20px;
    }
    #logoimage{
        /* margin-t: 20vh; */
        margin-top: -24px;
        /* font-size: 200px; */
    }
.homepage{
    
    width: 100%;
  
}
.content-part1{
    margin-left: -20vh;
}
.content-part1 h1{
    margin-left: 80px;
}
.home-image img{
    width:40vh;
    height: 40vh;
    /* margin-left: -10px; */
}
.home-conte {
    /* margin-left: 4cm; */
    font-size: 20px;
    /* justify-content: space-around; */
    width: 100%;
}
.par p{ 
    font-size: 30px;
    margin-left: 20px;
    width: 65%;
}
.he2{
    font-size: 20px;
    margin-left: 20px;
}
.he2 h2{margin-left: 100px;}

.header{
    /* width: 100%; */
    padding: 40px;
}
.about{
    display: block;
    margin-left: 25px;
}
#about-page{
     width: 100%;
    }
.about-image img{
    width: 80%;
    height: 40%;
    /* font-size: 70px; */
}
.P1 p{
font-size: 100px;
}
.product-page{
    width: 100%;
    margin-right: 35vh;
    
}
.product-page .header .navbar{
    margin-right: 35vh;
    
}
.product-page .header{
    width: 80%
}
.product-all{
display: flex;
flex-wrap: wrap;
/* background-color: #342c2c; */
width: 100%;
padding: 80px 0;
margin-left: 25px;
}
.product1 .mg img{
    width: 30vh;
    height: 25vh;
}
.product1{
    /* background-color: red; */
    /* margin-left: 0; */
    width: 30vh;}

    .about{
        width: 100%;
    }
   .vid video {
    width: 40vh;
    height: 40vh;
   } 
#header{
    padding-top: 60px; 
    margin-left: -4cm
}
contactpage{
   width: 100%; 
    
}
#contactpage{
    margin-top: -5vh;
    width: 100%;
}
.contact-page{
    margin-top: 5cm;
    font-size: 20px;

}
.contact-page img{
    
    width: 0vh;
    height: 40vh;
}
.cont{
    margin-left: -2cm;
    width: 45vh;
    height: 40vh;
    
}
.login-page{
    line-height: 90px;
    font-size: 30px;
    /* height: 20vh; */
    padding-top: 60px;

}

#formlogin- h2{
    color: brown;
    font-size: 50px;
    padding-top: 2.5cm;
    margin-left: 5.5cm;
}
.login-page input{
    font-size: 30px;
}
.login-page button{
    font-size: 30px;  
}
}