*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.header{z-index: 1;
    position: fixed;
    display: flex; 
    height: 0cm;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding:1cm;
} 
.logoimage{
   height: -2cm;
   margin-top: -2cm;
   font-size: 10;
}
.navbar{
    line-height: 80px;
margin-top: -1cm;
    justify-content: space-between;
}
.navbar ul{ 
    
    /* background-color: #0e0d0d; */
    font-weight: bold;
    color: white;
    list-style: none;
    /* float: right; */
    gap: 20px;
    font-size: 20px;
    display: flex;
   /* padding-top: 0.5cm; */
    margin-right: 40px;
}
.navbar ul li a{
    color: aliceblue; 
    text-decoration: none;
    
}
.navbar ul li a:hover{
    color:black;
    background-color: rgb(154, 17, 17);
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    /* text-decoration: none; */

}.homepage{
   background-image: url(/image/bu4.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
.content-part1{ 
    
   position: absolute;
   top: 30%;
   left: 28%;
   transform: translate( -50%, -50%5);
   color:rgb(230, 218, 218);
   text-align: center;
    
}
.content-part1 span{
    color: rgb(222, 23, 79);
}.content-part1 h1{ 
font-style: italic;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    margin-top: -2cm;
    /* padding-bottom: 80%; */
}.content-part1 p{
    /* line-height: 1px; */
    padding-top: 0.5cm;
    margin-left: 2cm;
    font-size: 25px; 
    /* line-height: 0.4cm; */
}
.btn{ background-color: rgb(232, 222, 222);
    border: 1px;
}
.btn:hover{
    color: whitesmoke;
    background-color: rgb(100, 12, 12);
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: black;
}
.heading span{
    color: brown;
}
/* ....login-page... */
.full-page{ 
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(/image/restaurant-16866439.jpg);
    /* opacity: 0.5; */
    background-size: cover;
    background-position: center;
    /* background: transparent; */
    position: absolute;
}.form-container{
    margin-top: 1cm;
    margin-left: 6cm;
    width: 60%;
    height: 70vh;
    background-color: rgb(19, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    opacity: 0.9;
} #log-detail{
    background-color: rgb(240, 228, 228);
    height: 40.5vh;
    padding: 10px;

}
button{
    font-style: italic;
    background-color: rgb(0, 0, 0);
    border-radius: 2cm;
    margin: 0.5cm;
    height: 1cm;
    width: 5cm;
}#log-detail h4{
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-left: 3cm;
    font-size: x-large;

}.login-page h2{
    font-style: oblique;
    color:rgb(243, 246, 248);
    font-size: 50px;
    margin-left: 13cm;
    margin-top: 0.8cm;

} 
/* product page..... */
.allproduct{
    
    padding: 1cm;
    box-sizing: border-box;
    background-color:rgb(172, 154, 154);
}.product-detail{
    display: flex;
    margin: 1cm;
flex-wrap: wrap;
}
.product-content img{
    top: 2cm;
    padding: 0.2cm;
    height: 75vh;
    width: 40vh;
}
#p{
    /* padding: ; */
/* margin-top: 2cm; */
}
#p h2{
    color: rgb(215, 79, 26);
    margin-left: 10cm;
    font-style: italic;
    /* padding-top: 1cm; */
    /* margin-top: 6cm; */
}

/* contact page.... */

.contact-page{
    /* opacity: 0.6; */
    background-color: #9f9898;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
padding-top: 12%;
}.cont{ 
    margin-top: 0.6cm;
    padding-top: 1.2cm;
    background-color: rgb(24, 34, 34);
    height: 54vh;
    padding-left: 1.2cm;
    margin-bottom: 120vh;
    width: 80vh;
}.reservation{
    padding: 4cm;
    background-color: #636060;
}.reservation fieldset{
    padding-left: 1cm;
    color: aliceblue;
    font-size: 20px;
}.reservation legend{
    padding: 1cm;
    font-size: 30px;
    color: rgb(220, 187, 24);
    padding-left: 4cm;
    padding-right: 3cm;
}