*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.header{z-index: 1;
    position: fixed;
    display: flex; 
    height: 2cm;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}
.navbar{float: right;
    background-color: rgb(0, 0, 0);
    height: 6vh;margin-top: 0.5cm;
/* position: fixed; */
/* margin-left: 20cm; */

}
.navbar ul{ 
    font-weight: bold;
    color: white;
    list-style: none;
    /* float: right; */
    gap: 20px;
    font-size: 20px;
    display: flex;
   padding-top: 0.5cm;
    margin-right: 40px;
}
.navbar ul li a{
    color: aliceblue; 
    text-decoration: none;
    
}
.navbar ul li a:hover{
    color:black;
    background-color: rgb(254, 247, 247);
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    /* text-decoration: none; */

}.content{
    width: 100%;
    height: 85vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.content-part1{
    width: 50%;
    height: 85vh;
    /* background-color: red; */
}.content-part2{ width: 45%;
    height: 85vh;
    background-image: url(../image/restoimage.jpg);
}.content-part1 span{
    color: rgb(222, 23, 79);
}.content-part1 h1{
    font-size: 100;
    text-align: center;
    padding-top: 1cm;
}.content-part1 p{
    /* line-height: 1px; */
    padding-top: 2cm;
    margin-left: 2cm;
    font-size: 20px;
    /* line-height: 0.4cm; */
}.content-part1 button{
    border: none;
    margin-top:2cm;
    background-color: brown;
    margin-left: 2cm;
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    height: 80px;
    padding: 15px;
}
.product{
    padding-top: 2cm;
    padding-bottom: 40px;
}
.day-per-day{ padding-top: 4cm;
    margin-top: 2cm;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 1cm;
}.product-one{
    font-size: 20px;
    /* line-height: 1px; */
}
h1{
    text-align: center;
}.logoimage{
    background-color: black;
    /* height: 2px; */
}
#product{ 
    padding-top: 1cm;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(218, 193, 242);
}
.product-detail{ 
    margin-top: 0.5cm;
    border-radius: 30px;
    padding-top: 0.5cm;
    height: 85vh;
    width: 25%; 
    margin-left: 1.5cm;
    /* display: flex; */
    background-color:rgb(221, 164, 164);
}.product-detail h2{
padding: 0.5cm;
}#btn:hover{
    color: red;
    background-color: black;
}
#btn{font-size: 15px;
    margin: 10px 50px;
    background-color: rgb(231, 217, 217);
    height: 40px;
    width: 50%;
}.product-detail p{
    margin-left: 1 cm;
    padding-left: 1cm;
    font-size: 20px;
}.product-detail img{
    margin: 0.5cm;
}.allproduct{
    margin: 0;
    padding: 0;
    background-color: black;
}.moreproduct{
    display: flex;
    flex-wrap: wrap;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: black;
}
.heading span{
    color: brown;
}
.servicepage  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}.box-container.box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0.5rem 1rem rgba(0, 0,0, 1);
    border: .1rem solid rgba(0, 0, 0,3) ;
    cursor: pointer;
    border-radius: 0.5rem;
    /* background-color: rgb(116, 129, 125); */
}.box .image{
    width:  100%;   
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:-100%; 
    left:0;
}.contentse{
    text-align: center;
    background-color: rgb(218, 210, 210);
    padding: 2rem;

}.contentse h3{
    font-size: 2.5rem;
}
.contentse p{
    color: #636060;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.box img{ 
    /* top: 0; */
    margin: 1.5rem 0;
    /* height: 65vh; */
}.box:hover .contentse{
transform: translateY(0);
}.box:hover .image {
transform: translateY(100%);
    
}


.full-page{ 
    width: 100%;
    height: 100%;
    background-image: url(../image/berry5.jpeg);
    background-size: cover;
    background-position: center;
    /* background: transparent; */
    position: absolute;
}.form-container{
    /* background-color: rgb(191, 78, 78); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
} #log-detail{
    background-color: rgb(124, 29, 29);
    height: 40.5vh;
    padding: 10px;

}
button{
    font-style: italic;
    background-color: black;
    border-radius: 2cm;
    margin: 0.5cm;
    height: 1cm;
    width: 5cm;
}#log-detail h4{
    font-style: italic;
    margin-left: 3cm;
    font-size: x-large;

}.login-page h2{
    font-style: oblique;
    color:rgb(243, 246, 248);
    font-size: 50px;
    margin-left: 13cm;

}